rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /assessmentSurveys/{surveyId} {
      allow create: if request.auth != null;
      allow read, delete: if request.auth != null
        && request.auth.token.email == 'sagilityassessment@gmail.com';
      allow update: if false;
    }
  }
}
